.searchBody {
    background-color: var(--main-bg);
    height:100%;
}
.searchPage__logo {
    object-fit: contain;
    height: 60px;
    margin-right: 50px;
}

.searchPage__header {
    display: flex;
    /* position: sticky; */
    top: 0;
    /* background-color: var(--main-bg); */
    z-index: 100;
    align-items: center;
    padding: 30px;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
}
.searchPage__headerLeft {
display: flex;
}
.searchPage__headerRight {
    display: flex;
    align-items: center;
    position: relative;
    top:-10px;
}
.searchPage__headerRight > .MuiSvgIcon-root {
    margin-right: 20px;
}

.searchPage__appsIcon {
    color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    margin:  0, 10px, 0, 15px ;
}

.searchPage__headerBody > .search > .search__input {
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}
.searchPage__options {
    display: flex;
    align-items: center;
    color: grey;
    margin-top: 5px;
}

.searchPage__optionsRight,
.searchPage__optionsLeft {
    display: flex;
}

.searchPage__options a,
.searchPage__optionsRight a {
    text-decoration: none;
    color: grey;
}

.searchPage__optionsRight {
    margin-left: 80px;
}

.searchPage__option {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.searchPage__option a {
    margin-left: 5px;
    
}

.searchPage__result {
    margin: 40px 0;

}

.searchPage__resultCount {
    color: #70757a;
    font-size: 14px;
}

.searchPage__results {
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
    background-color: var(--main-bg);
}

.searchPage__resultTitle {
    text-decoration: none;
    /* color:#1a0dad */
}
.searchPage__resultTitle:hover {
    text-decoration: underline;
}
.searchPage__resultTitle >h2 {
    font-weight: 500;
}

.searchPage__resultSnippet {
    margin-top: 10px;
    color: var(--main-text-color)
}

.searchPage__resultImage {
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.searchPage__resulLink {
    text-decoration: none;
    color: var(--main-text-color)
}