* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-bg: #fff;
  --main-text-color: rgba(0, 0, 0, 0.83);
  --input-bg: #fff;
  --footer-bg: rgba(214, 212, 212, 0.357);
  --model-slider: rgb(214, 212, 212);
  --model-bg: #f2f1f1;
  --footer-border: #lightgrey;
  --button-bg:  #f8f8f8;
  --model-border: rgb(211, 211, 211);
  --box-shadow-input:  0px 0px 13px 2px rgba(34, 60, 80, 0.2);
  --settings-modal-bg: rgb(245,245,245);
  --modal-bg: #fff;
  --hover-bg: rgb(243, 243, 243)
  --text-result-color: rgba(0, 0, 0, 0.83);
  --text-result-link-color: #1a0dad ;
}

[data-theme="dark"] {
  --main-bg: #202124;
  --main-text-color: #fff;
  --input-bg: #414144;
  --footer-bg: #17181a;
  --model-slider: rgba(121, 118, 118, 0.5);
  --model-bg: #434446;
  --footer-border: #17181a;
  --button-bg: #43414190;
  --model-border:  #17181a;
  --box-shadow-input: 0px 0px 13px 2px rgba(0, 0, 0, 0.57);
  --settings-modal-bg: #202124;
  --modal-bg: rgb(53, 53, 53);
  --hover-bg: rgb(70, 70, 70);
  --text-result-color: rgb(160, 160, 160);
  --text-result-link-color: #8ab4f8;
}