.settings {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

.settings_wrapper {
    position: absolute;
    width: 250px;
    height: 402px;
    background-color: var(--settings-modal-bg);
    top: 43vh;
    right: 15px;
    border: 1px solid lightgrey;
    z-index: 4;
    
}

.settings ul {
    list-style: none;
    padding-left: 15px;
}

.settings li {
    padding-top: 33px;
    font-size: 18px;
    cursor: pointer;
    color: #70757a;
}

.settings li:hover {
    text-decoration: underline;
}

.light_mode {
    padding-left: 35px;
}

.settings_dark_light {
    padding-top: 30px;
    font-size: 18px;
    cursor: pointer;
    color: #70757a;
    display: flex;
}

.settings_dark_light > .MuiSvgIcon-root {
    padding-left: 125px;
    margin-top: -2px;
}

.settings_dark_light:hover {
    text-decoration: underline;
}